.popup__button-save{
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    padding: 0;
    margin: 15px 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}
.popup__button-save:hover{
    cursor: pointer;
    opacity: 0.8;
}
@media screen and (max-width: 630px) {
    .popup__button-save{
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
    }
}